.mat-card-wrapper {
  min-height: 100%;
  mat-card {
    max-width: 900px;
    .form-field-full-width {
      width: 100%;
    }
    .app-place-search {
      width: 100%;
      max-width: 600px;
    }

    .gps-form-field {
      min-width: 400px;
    }
  }
}
