<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div style="width: 400px;" fxLayoutGap="10px">
    <slideshow
      #slideshow
      [height]="'400px'"
      [autoPlay]="false"
      [showDots]="urls.length > 1"
      [showArrows]="urls.length > 1"
      [imageUrls]="urls">
    </slideshow>

    <div *ngIf="isForUpload" fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button style="width:140px" color="primary" (click)="inputField.click()">
        <mat-icon>add</mat-icon>
        Add Images
      </button>
    </div>
  </div>

  <div *ngIf="isForUpload && croppers.length > 0">
    <p>Select an image to crop</p>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="0">
      <mat-button-toggle value="{{i}}" *ngFor="let url of urls;let i=index"
                         (click)="slideshow.goToSlide(i);selectImage(i)">
        {{i + 1}}. Image
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <input class="file-input" #inputField multiple type="file" (change)="fileChangeEvent($event)">
  <image-cropper
    *ngIf="isForUpload"
    style="max-height: 200px"
    [imageFileChanged]="imageChangedEvent"
    [cropper]="cropper"
    [maintainAspectRatio]="true"
    [aspectRatio]="1/1"
    [resizeToWidth]="1024"
    format="png"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>
</div>
