<div fxLayout="column" fxLayoutAlign="center center">

  <button mat-button (click)="filterOn=!filterOn">
    <mat-icon>menu</mat-icon>
    Filter
  </button>
  <div *ngIf="filterOn" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 80%" class="filter-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
      <app-chips-select style="min-width: 300px" [allChips]="allChips" [chips]="chips"
                        [chipControl]="chipControl" [validationOn]="false"></app-chips-select>
      <mat-select class="filter-select" placeholder="Region" [disabled]="true" matTooltip="Not implemented">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
      <mat-select class="filter-select" placeholder="Order by" [(ngModel)]="orderMethod" matTooltip="Not implemented">
        <mat-option *ngFor="let orderMethod of orderMethods" [value]="orderMethod">
          {{orderMethod}}
        </mat-option>
      </mat-select>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
      <button mat-raised-button color="primary" (click)="filter()">Filter</button>
      <button mat-raised-button (click)="reset()">Reset</button>
    </div>
  </div>

</div>
