.logo {
  width: 30px
}

.join-us {
  background-color: #3fb5a3
}

.add-post {
  background-color: #3fb5a3
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightblue;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}
