.example-card {
  max-width: 900px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-full-width {
  width: 100%;
}

.app-place-search {
  width: 100%;
  max-width: 600px;
}

.gps-form-field {
  min-width: 400px;
}
