<mat-toolbar color="primary"
             class="fixed-header">
  <div fxHide.gt-xs>
    <button (click)="onToggleSidenav()"
            mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div routerLink="/welcome"
       class="pointer">
    <img fxHide.xs
         class="logo"
         src="assets\icon-128x128.png"/>
    Valto
  </div>
  <div
    fxFlex
    fxLayout
    fxLayoutAlign="flex-end">
    <ul fxLayout
        fxLayoutGap="10px"
        class="navigation-items">
      <!--<li *ngIf="!(isAuthenticated$ | async)"><a name="login" routerLink="/login">-->

      <!--</a></li>-->
      <li *ngIf="!(isAuthenticated$ | async)"
          fxHide.xs
          class="pointer">
        <a name="login"
           routerLink="/login">
          Login
        </a>
      </li>
      <li *ngIf="!(isAuthenticated$ | async)"
          class="pointer">
        <button mat-raised-button
                class="join-us"
                routerLink="/signup">
          Join us
        </button>
      </li>
      <li *ngIf="(isAuthenticated$ | async)"
          class="pointer">
        <button mat-raised-button
                class="add-post"
                routerLink="/create-post">
          Add post
        </button>
        <button [matMenuTriggerFor]="menu"
                mat-button>
          Menu
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/test">Test</button>
          <button mat-menu-item routerLink="/news-feed">News feed</button>
          <button mat-menu-item routerLink="/my-feed">My feed</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
