<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center">
  <section>
    <h1>What is this web page for?</h1>
    <p>
      This page is a collector of the things that users can not stand in their everydaylife, around them
    </p>
    <!--<p>Egy gyűjtő tára azoknak a dolgoknak, amiket a felhasználók problémának gondolnak a hétköznapi életükben, a-->
    <!--környezetükben</p>-->
  </section>
  <section>
    <h1>Why should you use this web page</h1>
    <p>Because the top rated problems on the page will be solved!</p>
    <p>You can gather information about the problems, that people around you think there are! Also about how fast they
      are getting to be solved</p>
    <!--<h1>Miért jó az valakinek, ha használja?</h1>-->
    <!--<p>Mert bizonyos szervezetek meg fogják remélhetőleg őket oldani-->
    <!--<p>-->
    <!--Információt nyerhetsz arról, hogy milyen problémák vannak körülötted az emberek szerint, illetve hogy azok milyen-->
    <!--tempóban oldódnak meg-->
    <!--</p>-->

  </section>
  <section>
    <h1>How can you use it?</h1>
    <p>Go out of your house and look around. Share whatever disturbs you. What are the things that should be repaired or
      are just wrong at all?</p>
    <!--<h1> Hogyan lehet használni?</h1>-->
    <!--<p>Nézz szét magad körül amint kimész a lakásból, osztd meg mi zavar Téged, min lehetne javítani?</p>-->
  </section>
</div>
<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center">
  <section>
    <!--<h1>Mire vársz még?</h1>-->
    <h1>What are you waiting for?</h1>
    <p>
      <button mat-raised-button class="join-us" routerLink="/signup">
        Join us
      </button>
    </p>
  </section>
</div>

